<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<config xmlns="http://www.grademaster.com" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="Config.xsd">
<name>
Grade Master Portal
</name>
<metadata>
<author>
Jake Billings and Matt Rieth
</author>
<date>
Fri Dec 14 21:07:35 MST 2012
</date>
<version>
1.0.0.1
</version>

</metadata>
<logo>
/img/logo.png
</logo>
<namePrefix>
#
</namePrefix>
</config>
