<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<config xmlns="http://www.grademaster.com" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="Config.xsd">
<name>
Grade Master
</name>
<metadata>
<author>
Jake Billings
</author>
<date>
Fri Dec 14 18:13:24 MST 2012
</date>
<version>
1.0.0.0
</version>

</metadata>
<logo>
/img/logo.png
</logo>

</config>
